<?xml version="1.0"?>
<!--
/**
 * @author Amasty Team
 * @copyright Copyright (c) 2019 Amasty (https://www.amasty.com)
 * @package Amasty_RequestQuote
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Page\Config\Renderer">
        <plugin name="Amasty_RequestQuote::make-css" type="Amasty\RequestQuote\Plugin\View\Page\Config\Renderer" />
    </type>

    <type name="Magento\Customer\CustomerData\SectionPoolInterface">
        <arguments>
            <argument name="sectionSourceMap" xsi:type="array">
                <item name="quotecart" xsi:type="string">Amasty\RequestQuote\CustomerData\QuoteCart</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Framework\Url\SecurityInfo">
        <arguments>
            <argument name="secureUrlList" xsi:type="array">
                <item name="requestquote_index" xsi:type="string">/requestquote/cart/</item>
            </argument>
        </arguments>
    </type>

    <type name="Magento\Checkout\Model\Cart">
        <plugin name="Amasty_RequestQuote::clear-quote-from-cart" type="Amasty\RequestQuote\Plugin\Checkout\Model\Cart" />
    </type>

    <type name="Magento\Multishipping\Model\Checkout\Type\Multishipping">
        <plugin name="Amasty_RequestQuote::disable-remove-multishipping" type="Amasty\RequestQuote\Plugin\Multishipping\Model\Checkout\Type\Multishipping" />
    </type>

    <type name="Magento\Quote\Model\Quote\Item">
        <plugin name="Amasty_Request::convert-custom-price" type="Amasty\RequestQuote\Plugin\Quote\Model\Quote\Item" />
    </type>

    <virtualType name="Amasty\RequestQuote\Persistent\Observer\EmulateQuoteObserver" type="Magento\Persistent\Observer\EmulateQuoteObserver">
        <arguments>
            <argument name="checkoutSession" xsi:type="object">Amasty\RequestQuote\Model\Quote\Session</argument>
        </arguments>
    </virtualType>

    <!-- inject Request Quote Session in Ajax Cart controllers for modifying right quote -->
    <type name="Amasty\RequestQuote\Plugin\Cart\Controller\QuotePlugin">
        <arguments>
            <argument name="sidebar" xsi:type="object">Amasty\RequestQuote\Model\Sidebar</argument>
        </arguments>
    </type>
    <type name="Amasty\Cart\Controller\Quote\Add">
        <plugin name="Amasty_Request::inject-add-params" type="Amasty\RequestQuote\Plugin\Cart\Controller\QuotePlugin" />
    </type>
    <type name="Amasty\Cart\Controller\Quote\Update">
        <plugin name="Amasty_Request::inject-update-params" type="Amasty\RequestQuote\Plugin\Cart\Controller\QuotePlugin" />
    </type>
    <type name="Amasty\Cart\Controller\Quote\UpdateItemOptions">
        <plugin name="Amasty_Request::inject-update-item-options" type="Amasty\RequestQuote\Plugin\Cart\Controller\QuotePlugin" />
    </type>
</config>
