<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="MGS_FShippingBar::fshippingbar" title="MGS FShippingBar" sortOrder="10">
                    <resource id="MGS_FShippingBar::fshippingbar_setting" title="Setting FShippingBar"  sortOrder="10" />
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="MGS_FShippingBar::fshippingbar_config" title="MGS FShippingBar" sortOrder="100"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>